* {
    font-family: 'Source Code Pro', monospace;
}

/* header */
.header {
    padding: 40px 0 0;
}

.header_logo {
    width: 60px;
}

/* main_block_section */

.main_block_section {
    padding: 120px 0 200px;
}

.main_block_section_title {
    font-size: 7em;
    font-weight: bold;
}

/* app_review */

.app_review {
    margin: 200px 0;
}

.app_review .app_review_wrapper {
    justify-content: space-between;
}

.app_review .app_review_links {
    align-self: center;
}

.app_review .app_review_links_title {
    font-weight: 600;
    margin-bottom: 50px;
}

.app_review .app_review_link {
    font-size: 26px;
}

.app_review_img {
    transform-origin: left center;
    border-radius: 5px;
    height: 400px;
    margin-right: 200px;
    transform: rotate3d(.1, -1, .05, 25deg) translateX(80px);
    box-shadow: 0 1px 1px rgb(0 0 0 / 3%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 3%), 0 8px 8px rgb(0 0 0 / 3%), 0 12px 12px rgb(0 0 0 / 3%);
}

/* information_block */

.information_block {
    height: 400px;
}

.information_block h2 {
    font-weight: 600;
}

/* alpha-preview-block */

.alpha_preview_block {
    padding: 180px 0;
    background: #775AE0;
}

.alpha_preview_block .alpha_preview_block_title {
    font-size: 4em;
    color: white;
}

.alpha_preview_block .btn {
    color: #297CFB;
}

.alpha_preview_block li {
    color: white;
}

/* product-block-section */

.product_block_section {
    padding: 100px 0;
}

.product_block_section .row {
    margin: 50px 0;
}

.product_block_section_title {
    font-size: 72px;
    text-align: center;
    margin-bottom: 100px;
}

.product_block_section_subtitle {
    position: relative;
    font-size: 2em;
    color: #297CFB;
    font-weight: 700;
}

.product_block_section .lead {
    width: 500px;
}

.step-index {
    position: absolute;
    z-index: -1;
    font-size: 6em;
    font-weight: 800;
    line-height: 1;
    opacity: .09;
    top: 0;
    left: 0;
    transform: translateY(-45%)
}

.product_block_section_img {
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 3%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 3%), 0 8px 8px rgb(0 0 0 / 3%), 0 12px 12px rgb(0 0 0 / 3%);
}

/* coming_soon */

.coming_soon {
    background: black;
    padding: 50px 0;
}

.coming_soon h2 {
    font-size: 72px;
    text-align: center;
    color: white;
    font-weight: 700;
    padding-bottom: 50px;
}

.coming_features {
    color: #aaa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coming_features span {
    margin: 0 10px 10px 0;
    padding: .25rem .75rem;
    border-radius: 3rem;
}

.coming_features span.active {
    color: white;
    font-weight: bold;
}

.coming_features span:hover {
    background: white;
    color: #333;
    cursor: default;
    transition: .2s ease-in-out;
}


/* create_project_block */

.create_project_block {
    padding: 150px 0;
}

.create_project_block h2 {
    font-size: 36px;
    font-weight: bold;
}

/* footer */

.footer {
    padding: 100px 0;
    background: #F1F5F9;
}

.footer_links a {
    color: #727589;
    font-size: 18px;
    text-decoration: none;
}

.footer img {
    margin-right: 1.25rem;
    width: 32px;
}

.footer_icons .instagram {
    background-image: url("../img/instagram.png");
}
